 <div>


  <div class="row">
    <h2><%= @user.name %></h2><br>
    <div class="columns large-4 medium-4 small-12">
      <div class="row"><img src="<%= @user.profile_pic %>"></div>
      <div class="row"><%= @user.city %>, <%= @user.state %>, <%= @user.country %></div>
      <div class="row"><%= render "global/friend_list" %></div>
    </div>

    <div class="columns large-8 medium-8 hide-for-small-only">
      <div class="row">
        <h3>About Me</h3>
        <%= @user.about_me %>
      </div>
      <div class="row">
        <h3>My Typical Workout</h3>
        <%= @user.workout_details %>
      </div>
      <div class="row">
        <h3>What I'm Looking for in a Workout Partner</h3>
        <%= @user.partner_preferences %>
      </div>
      <div class="row">
        <!-- <h3>What I've Been Up To</h3> -->
      </div>
    </div>

    <div class="show-for-small-only">
      <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel2">About Me</a>
          <div id="panel2" class="content active">
            <%= @user.about_me %>
          </div>
        <a href="#panel3">My Typical Workout</a>
          <div id="panel3" class="content active">  
            <%= @user.workout_details %>
          </div>
        <a href="#panel4">What I'm Looking for in a Workout Partner</a>
          <div id="panel4" class="content active">
            <%= @user.partner_preferences %>
          </div>
        <div class="row">
          <!-- <h3>What I've Been Up To</h3> -->
        </div>
      </dd>
      </dl>
    </div>


  </div>
 </div>