 <h2><%= @user.name %></h2>

<img src="<%= @user.profile_pic %>"><br><br>
<%= @user.city %><br><br>
<%= @user.state %><br><br>
<%= @user.country %><br><br>
<%= @user.about_me %><br><br>
<%= @user.workout_details %><br><br>
<%= @user.partner_preferences %><br><br>


 