
<div class="row"><%= render "global/new_post_form" %></div>

<% @posts.each do |post| %>
  <div class="row post-individual">
    <div class="columns large-2 medium-2 small-4">
      <%= link_to user_path(post.user) do %>
      <img class="post-pic" src="<%= post.user.profile_pic %>">
      <% end %>
    </div>
    <div class="columns large-10 medium-10 small-8">
      <div class="row">
        <%= post.post_content %>
      </div>
      <div class="row">
        <%= commontator_thread(post) %>
      </div>
    </div>
    
  </div>
  
<% end %>
</div>





<%= paginate @posts %>

