<% unless current_user == @user %>
        <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% end %>

    <h4>Friends</h4>
    <ul>
        <% @user.friends.each do |friend| %>
        <li>
          <%= friend.name %> 
          <% if current_user == @user %>
            <%= link_to "&#10007;", friendship_path(:id => friend), :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if current_user == @user %>
        <h4>Friend Requests</h4>
        <ul>
            <% @user.requested_friendships.each do |request| %>
            <li>
              <%= request.name %> <!-- this was email before I changed it to name -->
              <%= link_to "&#10003;", friendship_path(:id => request), :method => "put" %> 
              <%= link_to "&#10007;", friendship_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>